@import "null.scss";
body{
  margin: 0;
  padding: 0;
}
//bg
.bg{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.bg-video{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.bg-filler{
  position: fixed;
  object-fit:cover;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
}
//main logo
.logo-main{
  top: 15vh;
  bottom: 60vh;
  background-attachment: fixed;
  position: absolute;
  aspect-ratio: 6 / 1;
  max-width: 90%;
  height: auto;
  z-index: 2;
}
.logo-main-img{
  margin: auto auto;
  display: block;
  background-attachment: fixed;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.logo-main:hover{
  opacity: 0.8;
}
// other logos
.logo-container {
  position: fixed;
  top: 80vh;
  bottom: 0vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  min-height: 0;
}
.logo{
  display: flex;
  min-height: 0;
}
.logo-img {
  height: 10vh;
  aspect-ratio: 1 / 1;
}

.logo-img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.025);
  transition: 0.3s;
  z-index: 3;
}
//bot
.bot-description {
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 2;
}

.bot-description h1 {
  font-size: 10rem;
  margin-bottom: 1rem;
}

.bot-description p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.bot-description a {
  font-size: 1rem;
  color: #fff;
  text-decoration: underline;
}

.bot-logo {
  display: block;
  width: 150px;
  height: auto;
  margin: 1rem auto 0;
}